@model ContaDetalhesViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div class="card">
    <div class="card-header">
        <div class="col-md-8">
            <h4>Detalhes da conta</h4>
        </div>
    </div>
    <div class="card-body">

        <input hidden asp-for="Id" disabled />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Total" class="col-form-label">Total</label>
                <input asp-for="Total" class="form-control" disabled>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Status" class="col-form-label">Status</label>
                <select asp-for="Status" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Status>()" disabled>
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <a asp-controller="Pagamento" asp-action="Debitar" asp-route-id="@Model.Id"
                   class="btn btn-primary">
                    <span>Debitar</span>
                </a>
                <a asp-controller="Conta" asp-action="lista" class="btn btn-secondary">Cancelar</a>
            </div>

        </div>

    </div>
    <div class="card-footer">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Notas</h4>
                    </div>
                    <div class="btn-group col-md-4 text-right">
                        <a asp-action="Nova" asp-controller="Nota" asp-route-id="@Model.Id"
                           class="btn btn-primary">
                            Nova nota
                        </a>
                        <a asp-controller="Nota" asp-action="Buscar" asp-route-id="@Model.Id" class="btn btn-secondary">
                            <span>Buscar</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card-body">
                @if (Model.Notas.Any())
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Atendente</th>
                                <th>Detalhes</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var nota in Model.Notas)
                            {
                                <tr>
                                    <td>@nota.Data</td>
                                    <td>@nota.Valor</td>
                                    <td>@nota.Atendente</td>
                                    <td>@nota.Detalhes</td>
                                    <td>

                                        <div class="btn-group">
                                            <a asp-controller="Nota" asp-action="Editar" asp-route-id="@nota.Id"
                                               class="btn btn-primary">
                                                Editar
                                            </a>                                            
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h6 class="card-title">Nenhum nota no momento.</h6>
                }
            </div>
        </div>
    </div>
</div>
