@model ListaPaginada<Cliente>

@{
    ViewBag.Title = "Clientes";
    var prevDisabled = Model.ProximaPagina ? "" : "disabled";
    var nextDisabled = Model.PaginaAnterior ? "" : "disabled";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h4>Clientes</h4>
            </div>
            <div class="btn-group col-md-4 text-right">
                <a asp-controller="cliente" asp-action="novo"
                   class="btn btn-primary btn-create">
                    <span>Criar</span>
                </a>
                <a asp-controller="cliente" asp-action="buscar" class="btn btn-secondary">
                    <span>Buscar</span>
                </a>
            </div>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Endereço</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Telefone</td>
                        <td>@cliente.Endereco</td>
                        <td>

                            <div class="btn-group">
                                <a asp-controller="cliente" asp-action="editar" asp-route-id="@cliente.Id"
                                   class="btn btn-primary">
                                    Editar
                                </a>
                                <a asp-controller="Conta" asp-action="Detalhes" asp-route-id="@cliente.ContaId"
                                   class="btn btn-secondary">
                                    Conta
                                </a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer p-0">
        <nav aria-label="...">
            <ul class="pagination justify-content-end mt-3 mr-3">

                <li class="page-item @prevDisabled">
                    <a class="page-link " asp-action="Lista" asp-controller="Cliente"
                       asp-route-pageNumber="@(Model.PaginaIndice - 1)">
                        Anterior
                    </a>
                </li>

                <li class="page-item @nextDisabled">
                    <a class="page-link" asp-action="Lista" asp-controller="Cliente"
                       asp-route-pageNumber="@(Model.PaginaIndice + 1)">
                        Próximo
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
